.ipynb_checkpoints
projects/WeatherImagesClassification/data/dataset_renamed/*
*.pyc
workflow-ml-project/logs/*
workflow-ml-project/notebooks/*
workflow-ml-project/outputs/*
workflow-ml-project/.vscode/*
workflow-ml-project/wandb/*