.ipynb_checkpoints
projects/WeatherImagesClassification/data/dataset/*
projects/WeatherClassification/data/dataset/*
projects/WeatherClassification/data/dataset_renamed/*
*.pyc
workflow-ml-project/logs/*